# ======================
# CodeIgniter 4
# ======================
/vendor/
/writable/*
!/writable/.gitkeep

# ======================
# Environment
# ======================
.env
.env.*
!.env.example

# ======================
# Tests / Experimente
# ======================
/testsachen/

# ======================
# OS
# ======================
Thumbs.db
.DS_Store

# ======================
# IDEs
# ======================
.idea/
.vscode/

# ======================
# Logs
# ======================
*.log
php_errors.log


